<hr>
  <div>
    <%= link_to "Past goals" %> &nbsp;
    <%= link_to "Turing Totals", goals_path %> &nbsp;&nbsp;
    <%= link_to "Calendar", weeks_path %>
  <span>
    <%= image_tag('schedule-reminder.svg', size: '18x18') %>
    <%= link_to "Sign up for text reminders", edit_user_path(current_user) %>&nbsp;&nbsp;
  </span>
  </div>
  <hr>

<div class="container">
  <h2>Welcome, <%= current_user.name %></h2><br><br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#current"><%= image_tag("http://i.imgur.com/UB6HRei.png", size:"50x50") %>&nbsp;Current Mod</a></li>
    <li><a data-toggle="tab" href="#set-weeks"><%= image_tag("http://i.imgur.com/Ako3axd.png", size:"50x50") %>&nbsp;Set Weeks</a></li>
    <li><a data-toggle="tab" href="#week-winners"><%= image_tag("http://i.imgur.com/97Ommhs.png", size:"50x50") %>&nbsp;Weekly Winners</a></li>
    <li><a data-toggle="tab" href="#mod-winners"><%= image_tag("http://i.imgur.com/Sth6Wis.png", size:"50x50") %>&nbsp;Mod Winners</a></li>
    <li><a data-toggle="tab" href="#cohorts"><%= image_tag("http://i.imgur.com/3UKZnCg.png", size:"50x50") %>&nbsp;Cohorts</a></li>
  </ul>

  <div class="tab-content">
    <div id="current" class="tab-pane fade in active">
        <h1>This is <%=current_week.week_number.name%> of <%= @current_mod.inning %></h1>
        <h3><%= current_week.format_start_date %>-<%= current_week.format_end_date %></h3><hr>
        <% @mod_weeks.each do |week| %>
        <div><h5><%= week.week_number.name %>: <%= week.format_start_date %>-<%= week.format_end_date %></h5></div>
        <% end %>
      <hr>
    </div>
    <div id="set-weeks" class="tab-pane fade">
      <%= render partial: "set_weeks" %>
    </div>
    <div id="week-winners" class="tab-pane fade">
      <h1>Weekly Winners</h1><hr>
      <h3>Random weekly winner:</h3>
      <%= render partial: "weekly_winner" %>
      <hr>
      <h3>Achieved 100% of goals this week:</h3>
      <% @current_week_achievers.each do |achiever| %>
      <div><h4><%= achiever.name %>, <%= achiever.cohort %></h4></div>
      <% end %>
      <hr>
      <h3>This Mod's Weekly Winners:</h3>
      <% @mod_weeks.each do |week| %>
          <% if week.winner.is_a? Winner  %>
            <div><h4><%= week.week_number.name %>: <%= week.winner.user.name %>, <%= week.winner.user.cohort %></h4></div>
          <% else %>
          <div><h4><%= week.week_number.name %>: No winner selected yet</h4></div>
          <% end %>
      <% end %>
    </div>
    <div id="mod-winners" class="tab-pane fade">
      <h1>Mod Winners</h1>
      <hr>
      <%= render partial: "mod_winner" %>

    </div>
    <div id="cohorts" class="tab-pane fade">
      <h1>Cohorts</h1>
    </div>
  </div>
</div>
