<hr>
  <div>
    <%= link_to "Past goals" %> &nbsp;
    <%= link_to "Turing Totals", goals_path %> &nbsp;&nbsp;
  <span>
    <%= image_tag('schedule-reminder.svg', size: '18x18') %>
    <%= link_to "Sign up for text reminders", edit_user_path(current_user) %>&nbsp;&nbsp;
  </span>
  </div>
  <hr>

<div class="container">
  <h2>Welcome, <%= current_user.name %></h2><br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#current"><%= image_tag("http://i.imgur.com/UB6HRei.png", size:"50x50") %>&nbsp;Current Mod</a></li>
    <li><a data-toggle="tab" href="#set-weeks"><%= image_tag("http://i.imgur.com/Ako3axd.png", size:"50x50") %>&nbsp;Set Weeks</a></li>
    <li><a data-toggle="tab" href="#week-winners"><%= image_tag("http://i.imgur.com/97Ommhs.png", size:"50x50") %>&nbsp;Weekly Winners</a></li>
    <li><a data-toggle="tab" href="#mod-winners"><%= image_tag("http://i.imgur.com/Sth6Wis.png", size:"50x50") %>&nbsp;Mod Winners</a></li>
    <li><a data-toggle="tab" href="#cohorts"><%= image_tag("http://i.imgur.com/3UKZnCg.png", size:"50x50") %>&nbsp;Cohorts</a></li>
  </ul>

  <div class="tab-content">
    <div id="current" class="tab-pane fade in active">
        <h1>This is <%=current_week.week_number.name%></h1><h4><%= current_week.format_start_date %>-<%= current_week.format_end_date %></h4>
        <h5>MODS WEEKS GO HERE</h5>
      <hr>
    </div>
    <div id="set-weeks" class="tab-pane fade">
      <%= render partial: "set_weeks" %>
    </div>
    <div id="week-winners" class="tab-pane fade">
      <h3>Weekly Winners</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="mod-winners" class="tab-pane fade">
      <h3>Mod Winners</h3>
      <p>The following students have achieved all of thier goals this mod.</p>
      <%= User.achievers() %>
    </div>
    <div id="cohorts" class="tab-pane fade">
      <h3>Cohorts</h3>
    </div>
  </div>
</div>










<%# @weeks.each do |week| %>
 <h6><%#= week.format_start_date %>-<%#= week.format_end_date %></h6>

<!-- NEEDS REFACTORING -->
    <%#User.achievers(week.id).each do |user|%>
    <%#= user.name %>
    <%#end %>
 <%#end%>


<!-- LINK TO SEE THIS MOD'S USERS W/ 100% goal achievement <br> -->
