
<div class="back">
  <%= link_to '<<Back', user_goals_path %>
</div>
<!-- <div class="goal-instructions"> -->
  <div class="row">
    <div class="col">

      <details class='instructions' close >
        <!-- <span class="glyphicon glyphicon-list" aria-hidden="true"> </span> -->
        <summary><b>Goal Setting Instructions</b></summary>
          <ul>
            <p> <%=image_tag("checkmark.png", size: '30x30')%>
              Your goals are your own. You may set as many (or as few) goals as you like. Only you will know what your actual goals are. </p>

              <p> <%=image_tag("checkmark.png", size: '30x30')%>Each week you choose to set goals, your total progress will be included in the Turing Community's weekly totals.</p>

            <p><%=image_tag("checkmark.png", size: '30x30')%>Each goal should be different. You must choose a category for each goal. You can have more than one goal for each category.</p>

            <p><%=image_tag("checkmark.png", size: '30x30')%>You set the number of times you will meet your goal within the week (with a max of 7, once for each day). The number of goals and count only matter for you. </p>

            <p><%=image_tag("checkmark.png", size: '30x30')%>If you achieve 100% of your goals, you are eligible for a weekly prize. Weekly winners are randomly chosen from all students who have achieved 100% of their goals.</p>

            <p><%=image_tag("checkmark.png", size: '30x30')%>You may mark progress towards your goals through Sunday at midnight of each week. New goals can be set every Monday morning.</p>

            <p><%=image_tag("checkmark.png", size: '30x30')%>If you meet 100% of your goals every week throughout the entire mod you will receive a grand prize! </p>
          </ul>
      </details>
    </div>
  </div>
<br>

<%= render 'form', goal: @goal %>
