
<div class='back'>
  <%= link_to '<<Back', user_goals_path(current_user) %>
</div>

This Week's Turing Community Totals:
<hr>
<div class="total-progress-bar">
  <img class='icons' src= "<%= @sweat.image_path%>"> XXXXXX <%= @sweat_progress %> / <%= @sweat_total %>
</div>

<div class="total-progress-bar">
  <img class='icons' src= "<%= @nutrition.image_path%>"> XXXXXX <%= @nutrition_progress %> / <%= @nutrition_total%>
</div>

<div class="total-progress-bar">
  <img class='icons' src= "<%= @sleep.image_path%>"> XXXXXX <%= @sleep_progress %> /  <%= @sleep_total %> <br>
</div>

<div class="total-progress-bar">
  <img class='icons' src= "<%= @personal.image_path%>"> XXXXXX <%= @personal_progress %> / <%= @personal_total %>
</div>
