<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Progress count:</strong>
  <%= @goal.progress_count %>
</p>

<p>
  <strong>Total goal count:</strong>
  <%= @goal.total_goal_count %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user %>
</p>

<p>
  <strong>Week:</strong>
  <%= @goal.week %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
