<!DOCTYPE html>
<html>
  <head>
    <title>WellnessTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render partial: 'layouts/navbar' %>

    <div class="flashes">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <button type="button" class="close" data-dismiss='alert'>x</button>
          <%= sanitize(message) %>
      <% end %>
        </div>
    </div>


  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
